<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BioView Image Library Viewer</title>

    <script th:src="@{/js/lib/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/lib/popper.min.js}" src="../static/js/lib/popper.min.js"></script>
    <script th:src="@{/js/lib/bootstrap.bundle.min.js}" src="../static/js/lib/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" href="../static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.rawgit.com/asvd/dragscroll/master/dragscroll.js"></script>
    <script th:src="@{/js/lib/tinysort.min.js}"></script>

    <script th:src="@{/js/lib/jquery.contextMenu.min.js}"></script>
    <script th:src="@{/js/lib/jquery.ui.position.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/lib/jquery.contextMenu.min.css}" href="../static/css/lib/jquery.contextMenu.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link th:href="@{/css/image-view.css}" rel="stylesheet">
    <script th:src="@{/js/lib/jquery-ui.js}"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
    <script th:src="@{/js/lib/typeahead.bundle.js}"></script>


    <script th:src="@{/js/EditingModal.js}"></script>
    <link th:href="@{/css/folder.css}" rel="stylesheet">
    <script th:src="@{/js/FolderManager.js}"></script>
    <script th:src="@{/js/lib/fabric.js}"></script>
    <script th:src="@{/js/lib/tagsinput.js}"></script>
    <link rel="stylesheet" th:href="@{/css/lib/tagsinput.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.fancytree/2.30.2/skin-lion/ui.fancytree.min.css">
    <script th:src="@{/js/lib/jquery.fancytree-all-deps.min.js}"></script>
    <link th:href="@{/css/move-to-modal.css}" rel="stylesheet">
    <script th:src="@{/js/FancyMoveTree.js}"></script>

    <script th:src="@{/js/ImageManager.js}"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/lib/toastr.min.css}"/>
    <script th:src="@{/js/lib/toastr.min.js}"></script>

</head>
<body>
<nav th:replace="fragments/header"></nav>
<main th:replace="fragments/image-view"></main>
<footer th:replace="fragments/footer :: ${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'footer-admin' : 'footer'">
    &copy; placeholder

</footer>
</body>
</html>